In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('final_df.csv')

In [2]:
print(df.shape)

(9030, 29)

In [3]:
print(df.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [4]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,0.737147,0.548675,0.992986,1.171996,1.248594,...,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,0.226719,NaN
1,Aruba,ABW,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,NaN,2.944628,2.513892,2.516782,2.677284,2.773688,...,0.398228,0.496427,0.335550,0.297792,0.311423,0.350670,0.339582,0.353604,0.338202,NaN
2,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,52.873000,53.283000,53.661000,54.028000,54.394000,54.760000,...,56.959000,56.892000,56.808000,56.707000,56.589000,56.454000,56.303000,56.134000,55.948000,NaN
3,Aruba,ABW,Rural population growth (annual %),SP.RUR.TOTL.ZG,3.710577,3.312759,2.475631,1.874807,1.673855,1.572140,...,0.601746,0.520623,0.442423,0.358555,0.287256,0.213237,-0.133220,-0.347205,-0.417236,NaN
4,Aruba,ABW,Rural population,SP.RUR.TOTL,45929.000000,47476.000000,48666.000000,49587.000000,50424.000000,51223.000000,...,59006.000000,59314.000000,59577.000000,59791.000000,59963.000000,60091.000000,60011.000000,59803.000000,59554.000000,NaN

In [5]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,0.737147,0.548675,0.992986,1.171996,1.248594,...,0.055358,0.092621,0.085188,0.079480,0.076267,0.104098,0.069199,0.102736,0.226719,NaN
1,Aruba,ABW,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,NaN,2.944628,2.513892,2.516782,2.677284,2.773688,...,0.398228,0.496427,0.335550,0.297792,0.311423,0.350670,0.339582,0.353604,0.338202,NaN
2,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,52.873000,53.283000,53.661000,54.028000,54.394000,54.760000,...,56.959000,56.892000,56.808000,56.707000,56.589000,56.454000,56.303000,56.134000,55.948000,NaN
3,Aruba,ABW,Rural population growth (annual %),SP.RUR.TOTL.ZG,3.710577,3.312759,2.475631,1.874807,1.673855,1.572140,...,0.601746,0.520623,0.442423,0.358555,0.287256,0.213237,-0.133220,-0.347205,-0.417236,NaN
4,Aruba,ABW,Rural population,SP.RUR.TOTL,45929.000000,47476.000000,48666.000000,49587.000000,50424.000000,51223.000000,...,59006.000000,59314.000000,59577.000000,59791.000000,59963.000000,60091.000000,60011.000000,59803.000000,59554.000000,NaN

In [6]:
# Melt the data to reshape it
df_melted = df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name'], var_name='Year', value_name='Value')

# Filter out rows where Year is not numeric
df_melted = df_melted[pd.to_numeric(df_melted['Year'], errors='coerce').notnull()]

# Pivot the data to have Indicator Name as columns
df_pivoted = df_melted.pivot(index=['Country Name', 'Country Code', 'Year'], columns='Indicator Name', values='Value').reset_index()

# Rename the index name
df_pivoted.index.name = None

df_pivoted = df_pivoted.drop(df_pivoted.columns[:3], axis=1)

df_pivoted.head()

Indicator Name,"Access to electricity, rural (% of rural population)",Agricultural irrigated land (% of total agricultural land),Agricultural land (% of land area),Agricultural land (sq. km),"Agricultural machinery, tractors","Agricultural machinery, tractors per 100 sq. km of arable land",Agricultural methane emissions (% of total),Agricultural methane emissions (thousand metric tons of CO2 equivalent),Agricultural nitrous oxide emissions (% of total),Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent),...,Livestock production index (2014-2016 = 100),Permanent cropland (% of land area),Rural land area (sq. km),Rural land area where elevation is below 5 meters (% of total land area),Rural land area where elevation is below 5 meters (sq. km),Rural population,Rural population (% of total population),Rural population growth (annual %),Rural population living in areas where elevation is below 5 meters (% of total population),Surface area (sq. km)
0,NaN,NaN,57.899821,377640.0,110.0,0.143734,75.737152,8988.0175,91.566265,3803.225,...,115.17,0.170185,NaN,NaN,NaN,15027717.0,78.014,3.961297,NaN,652860.0
1,NaN,NaN,57.945817,377940.0,110.0,0.143173,72.804533,7712.14,90.331492,3273.8578,...,98.12,0.170185,637886.9764,0.0,0.0,15228282.0,77.922,1.325806,0.0,652860.0
2,NaN,5.662125,57.94735,377950.0,102.0,0.132761,68.589744,6421.6875,88.819876,2861.0682,...,78.92,0.171719,NaN,NaN,NaN,15323859.0,77.831,0.625667,NaN,652860.0
3,NaN,4.617624,57.939684,377900.0,161.0,0.20969,73.190349,8192.4275,90.0,3334.4114,...,95.13,0.171719,NaN,NaN,NaN,16325389.0,77.739,6.331048,NaN,652860.0
4,2.13041,7.26428,58.083805,378840.0,96.0,0.12352,73.432056,8426.6375,90.104167,3463.505,...,90.49,0.171719,NaN,NaN,NaN,17583264.0,77.647,7.422604,NaN,652860.0

In [7]:
df_pivoted.to_csv("Data_melted_notImputation.csv")

In [8]:
print("Shape of the DataFrame:", df_pivoted.shape)

Shape of the DataFrame: (5375, 42)

In [9]:
print("Type of df_pivoted:", type(df_pivoted))

Type of df_pivoted: <class 'pandas.core.frame.DataFrame'>

In [10]:
df_pivoted.columns

Index(['Access to electricity, rural (% of rural population)',
       'Agricultural irrigated land (% of total agricultural land)',
       'Agricultural land (% of land area)', 'Agricultural land (sq. km)',
       'Agricultural machinery, tractors',
       'Agricultural machinery, tractors per 100 sq. km of arable land',
       'Agricultural methane emissions (% of total)',
       'Agricultural methane emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural nitrous oxide emissions (% of total)',
       'Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural raw materials exports (% of merchandise exports)',
       'Agricultural raw materials imports (% of merchandise imports)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Arable land (% of land area)', 'Arable land (hectares per person)',
       'Arable land (hectares)',
       'Average precipitation in depth (mm per year)',
       'Cereal production (metric tons)', 'Cereal yield (kg per hectare)',
       'Crop production index (2014-2016 = 100)',
       'Employment in agriculture (% of total employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
       'Fertilizer consumption (% of fertilizer production)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'Food production index (2014-2016 = 100)',
       'Forest area (% of land area)', 'Forest area (sq. km)',
       'Land area (sq. km)', 'Land under cereal production (hectares)',
       'Livestock production index (2014-2016 = 100)',
       'Permanent cropland (% of land area)', 'Rural land area (sq. km)',
       'Rural land area where elevation is below 5 meters (% of total land area)',
       'Rural land area where elevation is below 5 meters (sq. km)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Rural population living in areas where elevation is below 5 meters (% of total population)',
       'Surface area (sq. km)'],
      dtype='object', name='Indicator Name')

In [11]:
# Convert all object type columns to numeric, coercing errors to NaN
for col in df_pivoted.columns:
    if df_pivoted[col].dtype == 'object':
        df_pivoted[col] = pd.to_numeric(df_pivoted[col], errors='coerce')

In [12]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 42 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   Access to electricity, rural (% of rural population)                                        4572 non-null   float64
 1   Agricultural irrigated land (% of total agricultural land)                                  1042 non-null   float64
 2   Agricultural land (% of land area)                                                          4778 non-null   float64
 3   Agricultural land (sq. km)                                                                  4793 non-null   float64
 4   Agricultural machinery, tractors                                                            915 non-null    float64
 5   Agricultural machinery, tractors per 100 sq. km of arable land                              896 non-null    float64
 6   Agricultural methane emissions (% of total)                                                 1900 non-null   float64
 7   Agricultural methane emissions (thousand metric tons of CO2 equivalent)                     4202 non-null   float64
 8   Agricultural nitrous oxide emissions (% of total)                                           1850 non-null   float64
 9   Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)               4202 non-null   float64
 10  Agricultural raw materials exports (% of merchandise exports)                               3941 non-null   float64
 11  Agricultural raw materials imports (% of merchandise imports)                               3977 non-null   float64
 12  Agriculture, forestry, and fishing, value added (% of GDP)                                  4613 non-null   float64
 13  Agriculture, forestry, and fishing, value added (current US$)                               4599 non-null   float64
 14  Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)               3747 non-null   float64
 15  Arable land (% of land area)                                                                4709 non-null   float64
 16  Arable land (hectares per person)                                                           4710 non-null   float64
 17  Arable land (hectares)                                                                      4710 non-null   float64
 18  Average precipitation in depth (mm per year)                                                3978 non-null   float64
 19  Cereal production (metric tons)                                                             4279 non-null   float64
 20  Cereal yield (kg per hectare)                                                               4269 non-null   float64
 21  Crop production index (2014-2016 = 100)                                                     4638 non-null   float64
 22  Employment in agriculture (% of total employment) (modeled ILO estimate)                    4463 non-null   float64
 23  Employment in agriculture, female (% of female employment) (modeled ILO estimate)           4463 non-null   float64
 24  Employment in agriculture, male (% of male employment) (modeled ILO estimate)               4463 non-null   float64
 25  Fertilizer consumption (% of fertilizer production)                                         1840 non-null   float64
 26  Fertilizer consumption (kilograms per hectare of arable land)                               4280 non-null   float64
 27  Food production index (2014-2016 = 100)                                                     4638 non-null   float64
 28  Forest area (% of land area)                                                                4834 non-null   float64
 29  Forest area (sq. km)                                                                        4834 non-null   float64
 30  Land area (sq. km)                                                                          4880 non-null   float64
 31  Land under cereal production (hectares)                                                     4279 non-null   float64
 32  Livestock production index (2014-2016 = 100)                                                4614 non-null   float64
 33  Permanent cropland (% of land area)                                                         4558 non-null   float64
 34  Rural land area (sq. km)                                                                    430 non-null    float64
 35  Rural land area where elevation is below 5 meters (% of total land area)                    430 non-null    float64
 36  Rural land area where elevation is below 5 meters (sq. km)                                  430 non-null    float64
 37  Rural population                                                                            5136 non-null   float64
 38  Rural population (% of total population)                                                    5136 non-null   float64
 39  Rural population growth (annual %)                                                          4898 non-null   float64
 40  Rural population living in areas where elevation is below 5 meters (% of total population)  430 non-null    float64
 41  Surface area (sq. km)                                                                       4919 non-null   float64
dtypes: float64(42)
memory usage: 1.7 MB

In [13]:
df_pivoted.isna().sum()

Indicator Name
Access to electricity, rural (% of rural population)                                           803
Agricultural irrigated land (% of total agricultural land)                                    4333
Agricultural land (% of land area)                                                             597
Agricultural land (sq. km)                                                                     582
Agricultural machinery, tractors                                                              4460
Agricultural machinery, tractors per 100 sq. km of arable land                                4479
Agricultural methane emissions (% of total)                                                   3475
Agricultural methane emissions (thousand metric tons of CO2 equivalent)                       1173
Agricultural nitrous oxide emissions (% of total)                                             3525
Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)                 1173
Agricultural raw materials exports (% of merchandise exports)                                 1434
Agricultural raw materials imports (% of merchandise imports)                                 1398
Agriculture, forestry, and fishing, value added (% of GDP)                                     762
Agriculture, forestry, and fishing, value added (current US$)                                  776
Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)                 1628
Arable land (% of land area)                                                                   666
Arable land (hectares per person)                                                              665
Arable land (hectares)                                                                         665
Average precipitation in depth (mm per year)                                                  1397
Cereal production (metric tons)                                                               1096
Cereal yield (kg per hectare)                                                                 1106
Crop production index (2014-2016 = 100)                                                        737
Employment in agriculture (% of total employment) (modeled ILO estimate)                       912
Employment in agriculture, female (% of female employment) (modeled ILO estimate)              912
Employment in agriculture, male (% of male employment) (modeled ILO estimate)                  912
Fertilizer consumption (% of fertilizer production)                                           3535
Fertilizer consumption (kilograms per hectare of arable land)                                 1095
Food production index (2014-2016 = 100)                                                        737
Forest area (% of land area)                                                                   541
Forest area (sq. km)                                                                           541
Land area (sq. km)                                                                             495
Land under cereal production (hectares)                                                       1096
Livestock production index (2014-2016 = 100)                                                   761
Permanent cropland (% of land area)                                                            817
Rural land area (sq. km)                                                                      4945
Rural land area where elevation is below 5 meters (% of total land area)                      4945
Rural land area where elevation is below 5 meters (sq. km)                                    4945
Rural population                                                                               239
Rural population (% of total population)                                                       239
Rural population growth (annual %)                                                             477
Rural population living in areas where elevation is below 5 meters (% of total population)    4945
Surface area (sq. km)                                                                          456
dtype: int64

In [14]:
missing_percentage = (df_pivoted.isnull().mean() * 100).round(2)

print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
Indicator Name
Access to electricity, rural (% of rural population)                                          14.94
Agricultural irrigated land (% of total agricultural land)                                    80.61
Agricultural land (% of land area)                                                            11.11
Agricultural land (sq. km)                                                                    10.83
Agricultural machinery, tractors                                                              82.98
Agricultural machinery, tractors per 100 sq. km of arable land                                83.33
Agricultural methane emissions (% of total)                                                   64.65
Agricultural methane emissions (thousand metric tons of CO2 equivalent)                       21.82
Agricultural nitrous oxide emissions (% of total)                                             65.58
Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)                 21.82
Agricultural raw materials exports (% of merchandise exports)                                 26.68
Agricultural raw materials imports (% of merchandise imports)                                 26.01
Agriculture, forestry, and fishing, value added (% of GDP)                                    14.18
Agriculture, forestry, and fishing, value added (current US$)                                 14.44
Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)                 30.29
Arable land (% of land area)                                                                  12.39
Arable land (hectares per person)                                                             12.37
Arable land (hectares)                                                                        12.37
Average precipitation in depth (mm per year)                                                  25.99
Cereal production (metric tons)                                                               20.39
Cereal yield (kg per hectare)                                                                 20.58
Crop production index (2014-2016 = 100)                                                       13.71
Employment in agriculture (% of total employment) (modeled ILO estimate)                      16.97
Employment in agriculture, female (% of female employment) (modeled ILO estimate)             16.97
Employment in agriculture, male (% of male employment) (modeled ILO estimate)                 16.97
Fertilizer consumption (% of fertilizer production)                                           65.77
Fertilizer consumption (kilograms per hectare of arable land)                                 20.37
Food production index (2014-2016 = 100)                                                       13.71
Forest area (% of land area)                                                                  10.07
Forest area (sq. km)                                                                          10.07
Land area (sq. km)                                                                             9.21
Land under cereal production (hectares)                                                       20.39
Livestock production index (2014-2016 = 100)                                                  14.16
Permanent cropland (% of land area)                                                           15.20
Rural land area (sq. km)                                                                      92.00
Rural land area where elevation is below 5 meters (% of total land area)                      92.00
Rural land area where elevation is below 5 meters (sq. km)                                    92.00
Rural population                                                                               4.45
Rural population (% of total population)                                                       4.45
Rural population growth (annual %)                                                             8.87
Rural population living in areas where elevation is below 5 meters (% of total population)    92.00
Surface area (sq. km)                                                                          8.48
dtype: float64

In [15]:
threshold = 30
cols_to_drop = missing_percentage[missing_percentage > threshold].index
df_dropped = df_pivoted.drop(columns=cols_to_drop)
print("\nColumns to drop due to high percentage of missing values:")
print(cols_to_drop)

print("\nDataFrame after dropping columns:")

Columns to drop due to high percentage of missing values:
Index(['Agricultural irrigated land (% of total agricultural land)',
       'Agricultural machinery, tractors',
       'Agricultural machinery, tractors per 100 sq. km of arable land',
       'Agricultural methane emissions (% of total)',
       'Agricultural nitrous oxide emissions (% of total)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Fertilizer consumption (% of fertilizer production)',
       'Rural land area (sq. km)',
       'Rural land area where elevation is below 5 meters (% of total land area)',
       'Rural land area where elevation is below 5 meters (sq. km)',
       'Rural population living in areas where elevation is below 5 meters (% of total population)'],
      dtype='object', name='Indicator Name')

DataFrame after dropping columns:

In [16]:
missing_checked_percentage = (df_dropped.isnull().mean() * 100).round(2)

print("Percentage of missing values in each column:")
print(missing_checked_percentage)

Percentage of missing values in each column:
Indicator Name
Access to electricity, rural (% of rural population)                                 14.94
Agricultural land (% of land area)                                                   11.11
Agricultural land (sq. km)                                                           10.83
Agricultural methane emissions (thousand metric tons of CO2 equivalent)              21.82
Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)        21.82
Agricultural raw materials exports (% of merchandise exports)                        26.68
Agricultural raw materials imports (% of merchandise imports)                        26.01
Agriculture, forestry, and fishing, value added (% of GDP)                           14.18
Agriculture, forestry, and fishing, value added (current US$)                        14.44
Arable land (% of land area)                                                         12.39
Arable land (hectares per person)                                                    12.37
Arable land (hectares)                                                               12.37
Average precipitation in depth (mm per year)                                         25.99
Cereal production (metric tons)                                                      20.39
Cereal yield (kg per hectare)                                                        20.58
Crop production index (2014-2016 = 100)                                              13.71
Employment in agriculture (% of total employment) (modeled ILO estimate)             16.97
Employment in agriculture, female (% of female employment) (modeled ILO estimate)    16.97
Employment in agriculture, male (% of male employment) (modeled ILO estimate)        16.97
Fertilizer consumption (kilograms per hectare of arable land)                        20.37
Food production index (2014-2016 = 100)                                              13.71
Forest area (% of land area)                                                         10.07
Forest area (sq. km)                                                                 10.07
Land area (sq. km)                                                                    9.21
Land under cereal production (hectares)                                              20.39
Livestock production index (2014-2016 = 100)                                         14.16
Permanent cropland (% of land area)                                                  15.20
Rural population                                                                      4.45
Rural population (% of total population)                                              4.45
Rural population growth (annual %)                                                    8.87
Surface area (sq. km)                                                                 8.48
dtype: float64

In [17]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor

# Initialize the IterativeImputer
rf_imputer = IterativeImputer(estimator=RandomForestRegressor(), max_iter=10, random_state=42)


imputed_data = rf_imputer.fit_transform(df_dropped)
imputed_df = pd.DataFrame(imputed_data, columns=df_dropped.columns)

C:\Users\MSI\anaconda3\Lib\site-packages\sklearn\impute\_iterative.py:796: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [18]:
imputed_df.head()

Indicator Name,"Access to electricity, rural (% of rural population)",Agricultural land (% of land area),Agricultural land (sq. km),Agricultural methane emissions (thousand metric tons of CO2 equivalent),Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent),Agricultural raw materials exports (% of merchandise exports),Agricultural raw materials imports (% of merchandise imports),"Agriculture, forestry, and fishing, value added (% of GDP)","Agriculture, forestry, and fishing, value added (current US$)",Arable land (% of land area),...,Forest area (% of land area),Forest area (sq. km),Land area (sq. km),Land under cereal production (hectares),Livestock production index (2014-2016 = 100),Permanent cropland (% of land area),Rural population,Rural population (% of total population),Rural population growth (annual %),Surface area (sq. km)
0,7.954341,57.899821,377640.0,8988.0175,3803.2250,16.396600,1.632436,32.458250,2.282769e+09,11.733591,...,1.852782,12084.4,652230.0,2532871.0,115.17,0.170185,15027717.0,78.014,3.961297,652860.0
1,10.804099,57.945817,377940.0,7712.1400,3273.8578,16.172091,1.715428,31.131199,2.349933e+09,11.779587,...,1.852782,12084.4,652230.0,2406000.0,98.12,0.170185,15228282.0,77.922,1.325806,652860.0
2,11.824751,57.947350,377950.0,6421.6875,2861.0682,16.611532,1.674443,31.399854,2.302932e+09,11.779587,...,1.852782,12084.4,652230.0,2094000.0,78.92,0.171719,15323859.0,77.831,0.625667,652860.0
3,7.522378,57.939684,377900.0,8192.4275,3334.4114,17.610671,1.867988,38.627892,1.477788e+09,11.771921,...,1.852782,12084.4,652230.0,2238000.0,95.13,0.171719,16325389.0,77.739,6.331048,652860.0
4,2.130410,58.083805,378840.0,8426.6375,3463.5050,16.907217,1.900016,37.418855,1.691687e+09,11.916042,...,1.852782,12084.4,652230.0,3004700.0,90.49,0.171719,17583264.0,77.647,7.422604,652860.0

In [53]:
import numpy as np
import pandas as pd
from scipy import stats

def remove_outliers_zscore(df, columns, threshold=3):
    df_clean = df.copy()
    for column in columns:
        z_scores = np.abs(stats.zscore(df[column]))
        df_clean = df_clean[z_scores <= threshold]
    return df_clean

def remove_outliers_iqr(df, columns, factor=1.5):
    df_clean = df.copy()
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - factor * IQR
        upper_bound = Q3 + factor * IQR
        df_clean = df_clean[(df_clean[column] >= lower_bound) & (df_clean[column] <= upper_bound)]
    return df_clean

def remove_outliers_mad(df, columns, threshold=3.5):
    df_clean = df.copy()
    for column in columns:
        median = df[column].median()
        mad = np.median(np.abs(df[column] - median))
        lower_bound = median - threshold * mad
        upper_bound = median + threshold * mad
        df_clean = df_clean[(df_clean[column] >= lower_bound) & (df_clean[column] <= upper_bound)]
    return df_clean

# Remove outliers using all three methods
df_cleaned_zscore = remove_outliers_zscore(imputed_df, imputed_df.columns)
df_cleaned_iqr = remove_outliers_iqr(imputed_df, imputed_df.columns)
df_cleaned_mad = remove_outliers_mad(imputed_df, imputed_df.columns)

def print_results(method_name, original_df, cleaned_df):
    rows_removed = len(original_df) - len(cleaned_df)
    percentage_removed = (rows_removed / len(original_df)) * 100
    print(f"\n{method_name} Method:")
    print(f'Rows in original dataset: {len(original_df)}')
    print(f'Rows in cleaned dataset: {len(cleaned_df)}')
    print(f'Number of rows removed: {rows_removed}')
    print(f'Percentage of rows removed: {percentage_removed:.2f}%')

    
print_results("Z-Score", imputed_df, df_cleaned_zscore)
print_results("IQR", imputed_df, df_cleaned_iqr)
print_results("MAD", imputed_df, df_cleaned_mad)

C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]
C:\Users\MSI\AppData\Local\Temp\ipykernel_4320\1632806994.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[z_scores <= threshold]

Z-Score Method:
Rows in original dataset: 5375
Rows in cleaned dataset: 4319
Number of rows removed: 1056
Percentage of rows removed: 19.65%

IQR Method:
Rows in original dataset: 5375
Rows in cleaned dataset: 1898
Number of rows removed: 3477
Percentage of rows removed: 64.69%

MAD Method:
Rows in original dataset: 5375
Rows in cleaned dataset: 600
Number of rows removed: 4775
Percentage of rows removed: 88.84%

In [54]:
import numpy as np
import pandas as pd
from scipy import stats

z_scores = np.abs(stats.zscore(imputed_df))

# Set threshold = 5
threshold = 5 
df_cleaned_zscore = imputed_df[(z_scores < threshold).all(axis=1)]

rows_original = len(imputed_df)
rows_cleaned = len(df_cleaned_zscore)
rows_removed = rows_original - rows_cleaned
percentage_removed = (rows_removed / rows_original) * 100

print("\nZ-Score Method:")
print(f'Rows in original dataset: {rows_original}')
print(f'Rows in cleaned dataset: {rows_cleaned}')
print(f'Number of rows removed: {rows_removed}')
print(f'Percentage of rows removed: {percentage_removed:.2f}%')

Z-Score Method:
Rows in original dataset: 5375
Rows in cleaned dataset: 5003
Number of rows removed: 372
Percentage of rows removed: 6.92%

In [55]:
df_cleaned_zscore.to_csv("MachineLearinningDataSet.csv")