In [3]:
import pandas as pd


secondary_df = pd.read_csv("Country_Abbr.csv")

In [4]:
secondary_df.head

<bound method NDFrame.head of                   name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0          Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1        Ã…land Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2              Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3              Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4       American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania
..                 ...     ...     ...           ...            ...      ...
244  Wallis and Futuna      WF     WLF           876  ISO 3166-2:WF  Oceania
245     Western Sahara      EH     ESH           732  ISO 3166-2:EH   Africa
246              Yemen      YE     YEM           887  ISO 3166-2:YE     Asia
247             Zambia      ZM     ZMB           894  ISO 3166-2:ZM   Africa
248           Zimbabwe      ZW     ZWE           716  ISO 3166-2:ZW   Africa

             sub-region intermediate-region  region-code  sub-region-code  \
0         Southern Asia                 NaN        142.0             34.0
1       Northern Europe                 NaN        150.0            154.0
2       Southern Europe                 NaN        150.0             39.0
3       Northern Africa                 NaN          2.0             15.0
4             Polynesia                 NaN          9.0             61.0
..                  ...                 ...          ...              ...
244           Polynesia                 NaN          9.0             61.0
245     Northern Africa                 NaN          2.0             15.0
246        Western Asia                 NaN        142.0            145.0
247  Sub-Saharan Africa      Eastern Africa          2.0            202.0
248  Sub-Saharan Africa      Eastern Africa          2.0            202.0

     intermediate-region-code
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
244                       NaN
245                       NaN
246                       NaN
247                      14.0
248                      14.0

[249 rows x 11 columns]>

In [11]:
# Check for NA or null values 
na_null_count = secondary_df[first_column_name].isna().sum()
print(f"NA or null values in the first column: {na_null_count}")

# Check for empty strings 
empty_string_count = (secondary_df[first_column_name] == "").sum()
print(f"Empty strings in the first column: {empty_string_count}")

# Check for duplicate values 
duplicate_count = secondary_df[first_column_name].duplicated().sum()
print(f"Duplicate values in the first column: {duplicate_count}")

NA or null values in the first column: 0
Empty strings in the first column: 0
Duplicate values in the first column: 0

In [12]:
# Export to checked data
secondary_df.to_csv("Country_Abbr_clean.csv", index=False)